PORT=3000
MONGO_URI=mongodb://localhost:27017/ecommerce-auth

ACCESS_TOKEN_SECRET=your-access-token-secret
REFRESH_TOKEN_SECRET=your-refresh-token-secret
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_EXPIRY=7d

R2_ACCESS_KEY=your-r2-access-key
R2_SECRET_KEY=your-r2-secret-key
R2_BUCKET=your-r2-bucket
R2_PUBLIC_URL=https://your-public-r2-url
R2_ENDPOINT=https://your-r2-endpoint

RESEND_KEY=your-resend-api-key
RESEND_FROM_EMAIL=onboarding@resend.dev
RESET_PASSWORD_URL_BASE=http://localhost:3000/api/v1/users/reset-password
